<% layout('layout') -%>

<script type='text/javascript'> 
    gameId = '<%= gameId %>';
    gameServerAddress = '<%= gameServerAddress %>';
    gameServerPort = <%= gameServerPort %>;
</script> 

<script src='/gameplay.js'></script>

<p><%= gameId %></p>
<p><%= gameServerAddress %>:<%= gameServerPort %></p>
