<% layout('layout') -%>

<script type='text/javascript'> 
    gameId = '<%= gameId %>';
    gameServerAddress = '<%= gameServerAddress %>';
    gameServerPort = <%= gameServerPort %>;
</script> 

<script src='/app.js'></script>

<h1>Welcome to <%= gameId %></h1>

<p><%= gameId %></p>
<p><%= gameServerAddress %>:<%= gameServerPort %></p>

