<% layout('layout') -%>

<link rel="stylesheet" href="/stylesheets/theme.default.css">
<script src="/javascripts/jquery.tablesorter.js"></script> 
<script src="/javascripts/jquery.tablesorter.widgets.js"></script> 


<h1 class='title'>Question Inventory</h1>

<a href="/question/add" class="btn btn-primary btn-block">Add Question</a>

<table id='inventory' class='tablesorter'>
    <thead class='headers'>
        <tr>
            <th class='id'>ID</th>
            <th class='text'>Question</th>
            <th class='correctAnswer'>Correct Answer</th>
            <th class='wrongAnswers'>Wrong Answer(s)</th>
            <th class='author'>Author</th>
            <th class='date'>Date</th>
        </tr>
    </thead>
    <tbody class='body'>
        <% inventory.forEach(function(question) { 
            const wrongAnswers = question.answers.slice(1).join('<br/>');
            %>
            <tr>
                <td class='id'><%= question.id %></td>
                <td class='text'><%= question.text %></td>
                <td class='correctAnswer'><%= question.answers[0] %></td>
                <td class='wrongAnswers'>
                    <ul>
                        <% question.answers.slice(1).forEach(function(answer) {
                            %>
                            <li class='wrongAnswer'><%= answer %></li>
                        <% }) %>
                    </ul>
                </td>
                <td class='author'><%= (question.author) ? question.author : '-' %></td>
                <td class='date'><%= (question.date) ? moment(question.date).format(timeFormat) : '-' %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script>
    $(document).ready(function() 
        { 
            $("#inventory").tablesorter(); 
        } 
    ); 
</script>
